---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <h1 class="text-4xl font-bold mb-5"> Peta Interaktif Taman </h1>
    <iframe src="https://storymaps.arcgis.com/stories/e4d81ecf29db4bbda3f5c885b343313f" width="100%" height="500px" frameborder="0" allowfullscreen allow="geolocation"></iframe>
</MainLayout>