---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../utils";
import type { ACTION_ERROR_CODES } from "astro:actions";

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

const tags: string[] = allBlogArticles.flatMap((article: any) => article.data.tags);

const uniqueTags: string[] = [...new Set(tags)];
---
<footer class="bg-cyan-900 text-white">
  <div class="container mx-auto mt-10 max-w-screen-xl px-8">
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-4">
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">Tentang VisitTaman</h3>
        <p class="text-sm">
          Sebuah website dan blog untuk mencari artikel tentang wisata di sekitar kecamatan Taman, Madiun.
        </p>
      </div>
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">Kategori</h3>
        <ul class="text-sm">
          {uniqueTags.map(tag => (
            <li class="mb-2">
              <a href={'/articles/tag/' + tag}>{capitalize(tag)}</a>
            </li>
          ))}
        </ul>
      </div>
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">Kontak Kami</h3>
        <ul class="text-sm">
          <li class="mb-2">
            <a href="mailto:temantaman49@gmail.com">Email</a>
          </li> <!-- Close the li tag here -->
          <li class="mb-2">
            <a href="https://www.instagram.com/kkn.temantaman/?hl=en" target="_blank" rel="noopener noreferrer">Instagram</a>
          </li> <!-- Close the li tag here -->
        </ul>
      </div>
    </div>
  </div>
  </footer>